{% extends 'base.html' %} 
{% block title %} Szczegóły zamówienia {% endblock %}
{% block content %}

<ul class="no-style-list cart-list">
    <h2>Zamówienie numer {{ order }}</h2>
    {% for item in order.cart_list %}
    <li class="cart-item">{% if item.amount > 1 %}
        {{ item.amount }}x
        {% endif %}{{ item }} <span class="remove-button">Cena: {% widthratio item.amount 1 item.product.price %}zł</span></li>
    {% endfor %}
</ul>

{% if request.user.username == 'ksiegowy' %}
<p><a class="link-button" href="{% url 'buy-success' %}">Wystaw fakturę</a></p>
<p><a class="link-button" href="{% url 'buy-success' %}">Wyślij fakturę na mail klienta</a></p>
{% endif %}

{% endblock %}