{% extends 'base.html' %} 
{% block title %} {{ product.name }} {% endblock %}
{% block content %}
<div class="product-details-content">
    <img src="{{ STATIC_URL }}{{ product.picture }}">
    <div class="product-details-name">
        {{ product.name }}<br>
        <p>Trudność: {{ product.trudnosc }}</p>
        <p>Okres wypożyczenia: {{ product.wypozyczenie }} dni</p>
        <p>Dla dzieci:
            {% if product.dzieci %}
                <span style="color: green">&#10003;</span>
            {% else %}
                <span style="color: red">&#10005;</span>
            {% endif %}
        </p>
    </div> 
    <div class="product-details-price">
        <p>{{ product.price }}zł</p>
        <a class="link-button" href="{% url 'add-to-cart' product.pk %}" type="submit">Dodaj do koszyka aby kupić</a>
        <p>{{ product.cena_wypozyczenia }}zł</p>
        <a class="link-button" href="{% url 'add-to-cart' product.pk %}" type="submit">Dodaj do koszyka aby wypożyczyć</a>
        <p>0zł</p>
        <a class="link-button" href="{% url 'add-to-cart' product.pk %}" type="submit">Zarezerwuj</a>
    </div>
    
</div>
<div class="product-details-desc">
    {{ product.description|safe }}
</div>
{% endblock %}